* {
  /* margin: 0; */ 
  padding: 0;
  border: 0;
}

body {
  background: #dff;
  font: 10px sans-serif;
}

/* canvas {
    float: left;
} */

img {
  border: 2px solid #ccc;
}

p {
    margin-top: 1em;
}
   
.success {
    clear: both;
	background-color: #cfc;
}

.fail {
	background-color: #f00;
}

#fileSelect {
	font-size: 30px;
	font-weight: bold;
}

#nextBtn {
	border: 2px solid #ccc;
	border-radius: 3px;
	color: rgba(97, 33, 233,1);
	padding: 1px 10px;
	margin-left: 5px;
	text-decoration: none;
}

#holder { 
	border: 5px dashed #ccc; 
	width : 400px; 
	height: 50px; 
	margin-top: 10px; /* auto; */ 
}

#holder.hover {
	 border: 5px dashed #f33; 
}

#filename {
    margin-right: 1em;
}

#files-number {
	font-size: 50px;
	font-weight: bold;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
 }

#debug {
    display: none;
}